html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.home {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.home_btn {
    width: 2.8%;
    height: 5%;
    position: absolute;
    top: 93.3%;
    left: 96.3%;
    cursor: pointer;
}

.back_btn {
    width: 2.8%;
    height: 5%;
    position: absolute;
    top: 93.3%;
    left: 93%;
    cursor: pointer;
}
.home_video {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
}
.rb0-fixed {
    top: calc(100% - 78px) !important;
    left: calc(100% - 78px) !important;
}
.rb1-fixed {
    top: calc(100% - 78px) !important;
    left: calc(100% - 146px) !important;
}
